.abseed_conteudo_sub { background-color:#EEEEEE; line-height:20px; 
vertical-align: top; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;
 -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px;
  border: 1px solid #b3b3b4; padding: 10px 10px 10px 10px; margin-bottom: 10px; 
  behavior: url(../js/PIE.htc); -pie-poll: false; position: relative \0/;
   }
.abseed_conteudo_borda  
{   
    line-height:8px;font-size:17px;
    background: #3b6891; /* for non-css3 browsers */
	/*-webkit-linear-gradient(top, rgb(184, 237, 124) b8ed7c, rgb(107, 158, 49) 6b9e31)*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8ed7c', endColorstr='#6b9e31'); /* for IE */
	background: -ms-linear-gradient(top, #b8ed7c, #6b9e31); /*for IE9+*/
	background: -webkit-gradient(linear, left top, left bottom, from(#b8ed7c), to(#6b9e31)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #b8ed7c,  #6b9e31); /* for firefox 3.6+ */
    
                         border-radius: 5px 5px 0px 0px;
                         -webkit-border-radius: 5px 5px 0px 0px;
                         -moz-border-radius: 5px 5px 0px 0px;
                         color: white !important; padding: 10px; background-color: #3b6891; clear: both; /*font-weight:bold;*/ }



.cad_comentario{
max-width: 297px;
width: 100%;
max-height: 100px;
height:100%;
}

.cad_drop{
    max-width: 290px;
    width: 100%;
}

.cad_borda{
border: 2px solid #2c3e50;	
    border-radius: 5px;
}

.img_Comentarios{
    max-width: 300px;
    width: auto;
    max-height: 150px;
    height: auto;
    margin: 0px auto;
}
.espacamento{
	margin-top: 5px;
    margin-bottom: 5px;
}
.refTexto{
	text-align: justify;
    font-size: 16px;
}
.estiloPrin{
	font-weight: bold;
}
.sublinhado{
	    font-weight: normal;
}
.textoDivDenuncia{
	    font-size: 8pt;
    line-height: 15px;
    text-align: left;
}

.spanImagem{
	display: none;
    visibility: hidden;	
}
.em{
	background: rgba(255, 255, 255, 0.28);;
    font-size: 90%;
    text-align: center;
}


.imgDen{position: relative; width: 100%;}
.imgDen > img{width:70%; }
.imgDen > div{
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: rgba(216, 203, 203, 0.66);
    width: 70%;
    color: #000;
    text-align: center;
	}


